
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color:darkgrey;
  font-family:sans-serif;
  color:rgb(136, 217, 255);
  font-size:10px;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.grid {
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.outer_cell {
  border: 1px solid lightgrey;
  /* flex-grow: 1; */
  height: 5%;
  width: 5%;
  overflow: hidden;
  /* display:flex;
  justify-content:center;
  align-items:center;
  text-align: center; */
}

.cell {
  border: 0px;
  /* flex-grow: 1; */
  height: 100%;
  width: 400%;
  /* margin-bottom: 10px; */
  /* overflow: visible; */
  /* background-color:rgba(100,10,10,0.8); */
  background-repeat: no-repeat;
  background-size:100%;
}

.cell > div > img {
  height:100%;
  width: 100%;
}

/* obsolete */
/* .cell .player_down {
  background-image: url('../assets/test_sprite.svg');
}

.cell .player_left {
  background-image: url('../assets/test_sprite_left.svg');
}

.cell .player_right {
  background-image: url('../assets/test_sprite_right.svg');
}

.cell .player_up {
  background-image: url('../assets/test_sprite_back.svg');
} */

.outer_cell .cpuOneClass {
  background-image: url('../assets/test_sprite2.svg');
  background-repeat: no-repeat;
  background-size:contain;
}


.wall{
  background-color:grey;
}

/* backend stuff */

.indicater{
  position:fixed;
  bottom:0px;
  height:100px;
  width:100%;
  padding:20px;
  z-index: 200;
}
