
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color:rgb(23, 22, 82);
  font-family:sans-serif;
  color:rgb(136, 217, 255);
  font-size:10px;
}

.cover,.game_end_cover,.game_start_cover {
  position:fixed;
  top:0px;
  background-color:transparent;
  height:100%;
  width:100%;
  /* z-index:-1; */
  z-index:999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown_circle {
  background-color:white;
  border-radius: 50%;
  height:150px;
  width: 150px;
  transition: 0.2s;
  color: hotpink;
  font-size : 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height:150px;
  text-transform: uppercase;
}

.countdown_circle.count {
  height:250px;
  width:250px;
  line-height:250px;
  font-size: 95px;
  opacity:0.5;
}

.countdown_circle.count.transparent {
  opacity:0;
}

.game_start_cover {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition:3s;
}
.game_start_cover.display {
  z-index:99999;
  background-color:rgba(11, 26, 70, 1);
}

.game_start_wrapper {
  height: 500px;
  width: 600px;
  /* border:red 1px solid; */
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-direction:column;
}

.game_start_wrapper.move_down {
  animation: move_down 1.2s forwards;
}

@keyframes move_down {
  0% {transform: scale(1) translateY(0);}
  20% {transform: scale(1.4,0.9) translateY(-100px);}
  30% {transform: scale(0.9,1.2) translateY(0);}
  50% {transform: scale(1.5) translateY(0);}
  100% {transform: scale(2) translateY(100vh);}
}

.game_start_inner {
  width: 100%;
  height: 400px;
  /* border:yellow 1px solid; */
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(255, 202, 227);
}

.game_start_inner > div {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 215, 215, 0.5) ;
}

.game_start_inner > div > img {
  height:100%;
  width:100%;
}

.game_start_inner > nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:cyan 1px solid; */
}


.grid_outer_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(16, 13, 54);
}

.grid_inner_wrapper{
  width: 595px;
  height: 595px;
  border:red solid 0px;
  overflow:hidden;
}

.grid {
  background-color:rgb(145, 248, 255);
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:-8.5%; /* was -12.5% */
  margin-left:-8.5%;
  width: 700px;
  height: 700px;
}

.outer_cell {
  border: 0px solid lightgrey;
  /* flex-grow: 1; */
  height: 2.5%;
  width: 2.5%;
  overflow: hidden;
  /* display:flex;
  justify-content:center;
  align-items:center;
  text-align: center; */
}

.cell {
  border: 0px;
  /* flex-grow: 1; */
  height: 100%;
  width: 100%;
  /* width: 400%; */
  /* margin-bottom: 10px; */
  /* overflow: visible; */
  /* background-color:rgba(100,10,10,0.8); */
  background-repeat: no-repeat;
  background-size:contain;
  /* background-size:100%; */
}

.cell > div > img {
  height:100%;
  width: 100%;
}

/* for development */
.cell.player_down {
  background-color: lightblue;
}

.cell.player_left {
  background-color: lightcoral;
}

.cell.player_right {
  background-color: lightseagreen;
}

.cell.player_up {
  background-color: lightslategray;
}

.cell.cpuOneClass {
  background-image: url('../assets/test_sprite2.svg');
  background-repeat: no-repeat;
  background-size:contain;
}

.cell.cpu_down {
  background-color: greenyellow;
}

.cell.cpu_left {
  background-color: lightseagreen;
}

.cell.cpu_right {
  background-color: limegreen;
}

.cell.cpu_up {
  background-color: lightslategray;
}



/* effects */

.flicker {
  animation: flicker 0.5s infinite;
}

@keyframes flicker {
  0% {opacity:1}
  50% {opacity:0}
  100% {opacity:1}
}

.fadein{
  animation: fadein 4s forwards;
}

@keyframes fadein {
  0% {opacity:0}
  100% {opacity:1}
}

.fadeinfast{
  animation: fadeinfast 0.5s forwards;
}

@keyframes fadeinfast {
  0% {opacity:0}
  100% {opacity:1}
}


.hidden {
  /* display:none; */  
  opacity:0;
}

.enlarge {
  animation: enlarge 1s forwards;
}

@keyframes enlarge {
  0% {transform: scale(1);}
  100% {transform: scale(4);}
}


.wall{
  background-color:rgb(64, 147, 255);
}

.item{
  background-image: url('../assets/item.gif');
  background-repeat: no-repeat;
  background-size:contain;
}

.big_star{
  background-image: url('../assets/big_star.gif');
  background-repeat: no-repeat;
  background-size:contain;
}

/* backend stuff */

.indicater{
  position:fixed;
  bottom:0px;
  height:100px;
  width:100%;
  padding:20px;
  z-index: 200;
}


/* status */
.status{
  position:fixed;
  top:0px;
  height:80px;
  width:100%;
  padding:20px;
  z-index: 9999;
  border:lightblue 1px solid;
  display:flex;
  justify-content: space-evenly; 
  align-items: center;
}

.score_outer_wrapper {
  width:230px;
  /* border: red 1px solid; */
  display:flex;
  justify-content: center;
}

p.score_wrapper {
  color:hotpink;
  font-size:20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display:inline;
  width:200px;
  transition:1s;
  text-align: center;
}

span.score{
  color:pink;
}

p.score_wrapper.animate {
  width:230px;
  font-size:40px;
}


.life_wrapper {
  width:200px;
  height: 50px;
  transition:1s;
  /* text-align: center; */
  display:flex;
  align-items: center;
  /* border: 1px solid pink */
}

.life_wrapper > p{
  margin-block-start: 0em;
  margin-block-end: 0em;
  color:hotpink;
  font-size:20px;
}

.life{
  /* border: 1px solid pink; */
  height: 30px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.life_counter {
  margin-left: 5px;
  width:30px;
  height:30px;
}

.life_counter img {
  width:100%;
  height:100%;
}



.effect_animation {
  transition:1s;
  position:absolute;
}
.effect_animation img, .effect_animation_fast img {
  width:100%;
  height:100%;
}

.effect_animation_fast {
  transition:0.3s;
  position:absolute;
  box-sizing:content-box;
  color:hotpink;
  /* border:1px solid red; */
}

.effect_animation_fast > img {
  margin-top:-50%;
  margin-left:-50%;
  height:200%;
  width:200%;
}

.effect_animation_slow {
  transition:5s;
  position:absolute;
  box-sizing:content-box;
  color:hotpink;
  /* border:1px solid red; */
}

.effect_animation_slow > img {
  margin-top:-50%;
  margin-left:-50%;
  height:200%;
  width:200%;
}

.effect_animation_medium {
  transition:1s;
  position:absolute;
  box-sizing:content-box;
  height: 30px;
  width: 30px;
  /* border: 1px solid red; */
}

.effect_animation_medium > img {
  margin-top:-50%;
  margin-left:-50%;
  height:200%;
  width:200%;
}

/* game over */

.game_end_cover {
  z-index:9999;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:1s;
  opacity:0;
}

.game_end_text_wrapper {
  height:160px;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  overflow:hidden;
}

.game_end_text {
  font-size: 50px;
  color:hotpink;
  text-align:center;
  text-transform: uppercase;
  transition:2s;
}

.game_end_text.display {
  font-size: 100px;
}

.game_end_cover.shade {
  background-color:rgba(12, 37, 107, 0.7);
  opacity:1;
}

button {
  width: 0px;
  padding:0px; 
  margin:0px; 
  background-color:hotpink;
  color:white;
  border:0px;
  border-radius:50px; 
  overflow:hidden;
}

button.display{
  width:100px; 
  padding:12px; 
  margin:10px; 
  background-color:hotpink;
  color:white;
  border:0px;
  border-radius:50px; 
  transition:0.3s;
  box-sizing:content-box;
  cursor: pointer;
  /* border:3px solid hotpink; */
}
  
button.display:hover{
  padding:18px; 
  margin:4px; 
  background-color:white; 
  color:hotpink;
}

/* .invincible {
  filter: grayscale(0) hue-rotate(80deg) contrast(80%) brightness(140%); 
  animation: invincible 1s infinite;
} */

/* @keyframes invincible {
  0% {filter: grayscale(0) hue-rotate(80deg) contrast(80%) brightness(140%);}
  100% {filter: grayscale(0) hue-rotate(80deg) contrast(100%) brightness(500%);}
} */

